@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:300,400,700&display=swap');
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  line-height: 20px;
  color: #333;
}
.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 272.5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/iStock_000010084739_Large2x.png');
  background-position: 50% 100%;
  background-size: cover;
  background-attachment: scroll;
}

.body {
  margin-right: auto;
  margin-left: auto;
}

.logo {
  width: 144px;
  height: 30px;
}

.hero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 30.5px;
  font-family: Lato, sans-serif;
  color: #37474f;
  font-size: 48px;
  line-height: 88px;
  font-weight: 300;
  text-align: center;
}

.line {
  width: 88px;
  height: 0px;
  border: 1.5px solid #ffb300;
}

.line.white {
  border-color: #fff;
}

.line.grey {
  border-color: #78909C;
}

.line.dark-grey {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 73.5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-color: #78909c;
}

.main-heading-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-heading-box.mb-34 {
  margin-bottom: 34.5px;
}

.main-heading-box.pb-34 {
  margin-bottom: 34.5px;
}

.content {
  padding-bottom: 14px;
  font-family: Montserrat, sans-serif;
  color: #78909c;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
}

.content.white {
  color: #fff;
  text-align: center;
}

.content._w-730 {
  /*width: 730px;*/
  width: 713px;
  padding-bottom: 0px;
}


._w-328{
  width: 328px!important;
}
.content._w-744 {
  width: 744px;
}

.content._w-744.white {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  letter-spacing: -0.25px;
}

.content._w-802 {
  width: 802px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.content._w-780 {
  width: 780px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.content.align-left {
  text-align: left;
}

.content.dark-grey {
  color: #37474f;
}

.content.dark-grey._w-304 {
  width: 301px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.content.dark-grey._w-290 {
  width: 290px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.content._w-436 {
  width: 436px;
}

.request-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 56px;
  margin-top: 51.7px;
  margin-bottom: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #4caaee;
  -webkit-transition: color 300ms cubic-bezier(.25, .46, .45, .94), background-color 300ms cubic-bezier(.25, .46, .45, .94);
  transition: color 300ms cubic-bezier(.25, .46, .45, .94), background-color 300ms cubic-bezier(.25, .46, .45, .94);
  font-family: Montserrat, sans-serif;
  color: #4caaee;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.request-button:hover {
  background-color: #03a9f4;
  color: #fff;
}

.request-button.white {
  margin-top: 0;
  margin-bottom: auto;
  border-color: #90a4ae;
  color: #fff;
}

.request-button.white:hover {
  border-style: none;
  background-color: #eceff1;
  color: #37474f;
}

.buttom-rounded-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 556px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Subtraction-14.svg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36.5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-box.align-left {
  margin-bottom: 40.5px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading {
  margin-top: 0px;
  margin-bottom: 24.5px;
  font-family: Lato, sans-serif;
  color: #37474f;
  font-size: 36px;
  line-height: 56px;
  font-weight: 300;
  text-align: center;
}

.heading.white {
  color: #fff;
}

.heading.sm-art {
  text-align: left;
}

.artboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.artboard.pb-53 {
  padding-bottom: 53px;
}

.artboard.pb-175 {
  padding-bottom: 175px;
}

.artboard.pb-175.grey {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 237, 241, 0.25)), to(rgba(236, 237, 241, 0.25)));
  background-image: linear-gradient(180deg, rgba(236, 237, 241, 0.25), rgba(236, 237, 241, 0.25));
}

.artboard.pb-175.pt-129 {
  padding-top: 129.43px;
}

.artboard.pb-130 {
  margin-bottom: 130px;
}

.artboard.pb-130.pt-135 {
  padding-top: 135px;
}

.artboard.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.artboard.horizontal.grey {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 237, 241, 0.25)), to(rgba(236, 237, 241, 0.25)));
  background-image: linear-gradient(180deg, rgba(236, 237, 241, 0.25), rgba(236, 237, 241, 0.25));
}

.artboard.horizontal.grey.pb-136 {
  padding-bottom: 136px;
}

.services-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 106px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.333%;
  margin-bottom: 91px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.sevice-icon {
  width: 74px;
  height: 74px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
}

.service-text {
  width: 270px;
  max-width: 304px;
  font-family: Montserrat, sans-serif;
  color: #37474f;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

.service-text._w-256 {
  width: 256px;
}

.about-boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 68px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 344px;
  height: 220px;
  margin-right: 5.5px;
  margin-left: 5.5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.about-header-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #ffb300;
}

.about-header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #37474f;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
}

.about-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

.about-content._w-274 {
  width: 274px;
}

.about-content._w-266 {
  width: 266px;
}

.about-content._w-272 {
  width: 272px;
}

.dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot {
  width: 5px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 50%;
  background-color: #ffb300;
}

.small-artboard {
  width: 533px;
}

.video-box {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 490px;
  height: 329px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4px none #fff;
  background-image: url('../images/Screen-Shot-2019-06-22-at-4.11.44.png');
  background-position: 0px 0px;
  background-size: cover;
}

.play-icon {
  position: static;
  left: auto;
  top: 38%;
  right: 43%;
  bottom: auto;
  display: inline-block;
  width: 72px;
  height: 72px;
}

.testimonials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.testimonial-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 505.5px;
  margin-right: 44px;
  margin-left: 44px;
  padding: 39px 50px 50.05px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 237, 241, 0.4)), to(rgba(236, 237, 241, 0.4)));
  background-image: linear-gradient(180deg, rgba(236, 237, 241, 0.4), rgba(236, 237, 241, 0.4));
}

.testimonial-data {
  margin-top: 10px;
  margin-bottom: 33px;
  font-family: Montserrat, sans-serif;
  color: #37474f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.testimonial-logo {
  width: 190.09px;
  height: 65px;
}

.quotes {
  margin-top: 14.98px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #ffb300;
  font-size: 48px;
}

.buttom-rounded-box-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 377.57px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Subtraction-18.svg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: capitalize;
}

.contacts-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 139px;
  margin-bottom: 168.2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact-box {
  width: 366.94px;
  font-family: Montserrat, sans-serif;
  color: #78909c;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

.contact-name {
  color: #37474f;
}

.footer-box {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 565px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#37474f), to(#37474f));
    background-image: linear-gradient(180deg, #37474f, #37474f);
    font-family: Montserrat, sans-serif;
    color: #eceff1;
    font-weight: 300;
    text-align: center;
}

.footer-box.grey {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.copyrights {
    position: absolute;
    bottom: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    line-height: 12px;
}

.div-block {
  margin-bottom: 34.5px;
}

.about-content-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.fix-width-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1152px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-coloms {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    max-width: 1366px;
    margin: 100px auto 85px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.colomn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.colomn.demo {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.list-header {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #90a4ae;
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.footer-link {
  font-size: 14px;
    color: #eceff1;
    line-height: 32px;
    text-align: left;
    text-decoration: none;
}

.list {
    margin-bottom: 0px;
    padding-left: 0px;
}

.footer-copyright-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 375px;
    margin-left: 65px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.copyrights-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48%;
    margin-bottom: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.copyright {
    font-size: 12px;
    margin-top: 22.5px;
}

.section {
    display: block;
}

.copy-warapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media (max-width: 991px) {
  .line {
    margin-right: auto;
    margin-left: auto;
  }
  .content._w-730 {
    width: 90%;
  }
  .content._w-744 {
    width: 90%;
  }
  .content._w-744.white {
    width: 90%;
  }
  .content._w-802 {
    width: 90%;
  }
  .content._w-780 {
    width: 90%;
  }
  .content.align-left {
    text-align: center;
  }
  .content.dark-grey {
    font-size: 14px;
  }
  .buttom-rounded-box {
    background-size: auto;
  }
  .heading.sm-art {
    text-align: center;
  }
  .artboard.pb-53 {
    padding-bottom: 93px;
  }
  .artboard.pb-175.grey {
    padding-top: 85px;
    padding-bottom: 93px;
  }
  .artboard.pb-130 {
    margin-bottom: 93px;
    padding-top: 80px;
  }
  .artboard.horizontal.grey.pb-136 {
    padding-top: 80px;
    padding-bottom: 93px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .services-box {
    margin-top: 44px;
  }
  .service {
    width: 50%;
  }
  .about-header {
    font-size: 18px;
  }
  .about-content {
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 24px;
  }
  .testimonial-box {
    width: 340px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px 10px;
  }
  .contacts-box {
    margin-bottom: 101.8px;
  }
  .bold-text {
    font-size: 14px;
  }
  .text-block {
    font-size: 14px;
  }
  .footer-box {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer-box.grey {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer-coloms {
    width: 95%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .copyrights-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }
  .copyrights-box.footerline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .copyright {
    width: 375px;
    margin-top: 22.5px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .hero {
    height: 212.5px;
  }
  .main-heading {
    width: 90%;
    font-size: 32px;
    line-height: 48px;
  }
  .line {
    border-width: 2px;
  }
  .content._w-730 {
    font-size: 14px;
    line-height: 24px;
  }
  .content._w-744 {
    font-size: 14px;
    line-height: 24px;
  }
  .content._w-744.white {
    font-size: 14px;
    line-height: 24px;
  }
  .content._w-802 {
    font-size: 14px;
    line-height: 24px;
  }
  .content._w-780 {
    font-size: 14px;
    line-height: 24px;
  }
  .content.align-left {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
  }
  .content._w-436.white {
    font-size: 14px;
    line-height: 24px;
  }
  .buttom-rounded-box {
    height: 511px;
  }
  .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .heading.white {
    font-size: 24px;
    line-height: 32px;
  }
  .artboard.horizontal.grey.pb-136 {
    width: auto;
    padding-bottom: 0px;
  }
  .sevice-icon {
    width: 40px;
    height: 40px;
  }
  .service-text {
    font-size: 14px;
    line-height: 20px;
  }
  .about-boxes {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about-box {
    width: 275px;
    height: 178px;
  }
  .about-header-box {
    height: 40px;
  }
  .dots {
    margin-bottom: 13px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .dot {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .small-artboard {
    width: 90%;
  }
  .testimonials {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .testimonial-box {
    margin-top: 30px;
  }
  .buttom-rounded-box-small {
    height: 310px;
    background-position: 50% 0%;
    background-size: cover;
  }
  .contacts-box {
    margin-top: 33.2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact-box {
    margin-top: 53.8px;
    margin-bottom: 0px;
  }
  .copyrights {
    font-size: 10px;
  }
  .about-content-box {
    height: 138px;
  }
}

@media (max-width: 479px) {
  .hero {
    height: 209.5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: url('../images/iStock_000010084739_Large2x.png');
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .logo {
    width: 96px;
    height: 20px;
  }
  .logo.m-mt-69 {
    margin-top: 69px;
  }
  .main-heading.m-w-275 {
    width: 275px;
    margin-bottom: 24.5px;
  }
  .line {
    border-width: 1px;
  }
  .main-heading-box.mb-34.pb-24 {
    margin-bottom: 24.5px;
  }
  .content._w-730.m-w-275 {
    width: 270px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .content._w-744.white._w-279 {
    width: 261px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .content._w-744._w-279 {
    width: 279px;
  }
  .content._w-802._w-285 {
    width: 285px;
  }
  .content._w-780._w-315 {
    width: 314px;
  }
  .content.align-left {
    width: 90%;
    text-align: center;
  }
  .content.align-left._w-315 {
    width: 315px;
    padding-bottom: 0px;
  }
  .content.dark-grey._w-304._w-236 {
    width: 234px;
    padding-bottom: 0px;
  }
  .content.dark-grey._w-290._w-236 {
    width: 236px;
    height: 160px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .content._w-436.white {
    width: 90%;
  }
  .content._w-436.white._w-335 {
    width: 350px;
  }
  .request-button {
    width: 160.07px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 141px;
    font-size: 18px;
  }
  .heading-box {
    margin-bottom: 30.5px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .heading-box.align-left {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .heading-box.align-left.mb-29 {
    margin-bottom: 29.5px;
  }
  .heading {
    width: 90%;
  }
  .heading.white {
    width: 90%;
  }
  .heading.white._w-223 {
    width: 223px;
    margin-bottom: 19.5px;
  }
  .heading.white._w-257.pb-19 {
    margin-bottom: 19.5px;
  }
  .heading.sm-art._w-269 {
    width: 269px;
  }
  .heading._w-249 {
    width: 249px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .heading._w-249.mb-19 {
    margin-bottom: 19.5px;
  }
  .heading._w-189 {
    width: 184px;
  }
  .heading._w-189.mb-19 {
    margin-bottom: 19.5px;
  }
  .heading._w-257 {
    width: 257px;
  }
  .heading._w-257.mb-19 {
    margin-bottom: 19.5px;
  }
  .heading._w-271 {
    width: 271px;
  }
  .heading._w-271.mb-66 {
    margin-bottom: 66px;
  }
  .artboard.pb-53.pt.pb-17 {
    padding-bottom: 17.34px;
  }
  .artboard.pb-130.pt-135.pt-80 {
    padding-top: 80px;
  }
  .artboard.horizontal.grey.pb-136 {
    width: 100%;
  }
  .services-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .service {
    width: 100%;
    margin-bottom: 82.66px;
  }
  .about-box {
    margin-right: 0px;
    margin-left: 0px;
  }
  .about-content._w-274._w-209 {
    width: 209px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .about-content._w-266._w-209 {
    width: 209px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .about-content._w-272._w-235 {
    width: 235px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .small-artboard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .video-box {
    width: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .testimonial-box {
    width: 85%;
    margin: 0px 0px 25px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .testimonial-logo {
    width: 155px;
    height: 53px;
  }
  .quotes {
    margin-top: 37px;
    margin-bottom: 24px;
  }
  .quotes.pb-minus {
    margin-bottom: 14px;
  }
  .footer-box {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .fix-width-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  ._m-w-191{
    width: 191px!important;
  }

  ._m-w-205{
    width: 205px!important;
  }

  ._m-w-199{
    width: 199px!important;
  }
  .footer-coloms {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 36.5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }
  .colomn {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    text-align: left;
  }
  .colomn.demo {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .list-header {
    font-size: 10px;
    text-align: center;
    margin-bottom: 0;
  }
  .li {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .copyrights-box {
    width: 100%;
    margin-top: 36.6px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .copyrights-box.footerline {
    color: #eceff1;
  }
  .div-block-2 {
    color: #0c9dfd;
  }
  .copyright {
    margin-top: 41.6px;
    margin-bottom: 15px;
    text-align: center;
  }
  .copy-warapper {
    width: 100%;
  }
  .footer-link {
    font-size: 12px;
  }
  .list{
    margin-top: 0;
  }
}